################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.json
/Library/Artifacts
/Library/Bee
/Library/PackageCache
/Library/PackageManager
/Library/ScriptAssemblies
/Library/Search
/Library/ShaderCache
/Logs
/obj/Debug
/Temp
*.bin